.social-media > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 0.15rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1rem;
    color: var(--main-color);
    transition: 0.5s ease;
  }
  
  .social-media > a:hover {
    background: var(--main-color);
    color: var(--second-bg-color) !important;
    box-shadow: 0 0 1 rem var(--main-color);
    transition: 0.5s ease;
  }
  
  /* Cover.css */
.img-fluid {
  max-height: 400px; /* Set to desired height */
  width: auto;       /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: none; /* Ensures the image covers the area */
}
